/* resets */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.overflow {
  overflow: hidden;
}

/* variables */
:root {
  --color-main: rgb(31, 255, 180);
  --color-dark: #777;
  --color-light: #ddd;
  --color-white: #fff;
  --gradient1: linear-gradient(#402372, #7357a3);
  --gradient2: linear-gradient(#7357a3, #402372);
}

/* container */
/* .container {
  height: 100vh;
} */

/* header */
#header {
  float: left;
  width: 100%;
  /* background-color: var(--color-dark); */
  background-image: var(--gradient1);
  color: var(--color-white);
}

#header h1, #header p {
  text-align: center;
}

.clearFloat {
  overflow: hidden;
}

/* main */
main {
  float: left;
  width: 100%;
  padding: 1rem;
}

/* square */
#square {
  float: left;
  position: relative;
}

/* barrier */
#barrier {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.displayNone {
  display: none;
}

/* cardTable */
#cardTable {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.2rem;
}
.card {
  text-align: center;
  padding: 0.4rem;
  background-color: #ddd;
  position: relative;
}
.card:hover {
  cursor: pointer;
}
.fliped {
  background-color: lightsalmon;
}
.found {
  background-color: lightgreen;
}

/* instructionsTable */
#instructionsTable {
  float: right;
  text-align: center;
}
#instructionsTable table tr td:nth-child(2) {
  text-align: left;
}

/* btnAiHelp */
#aiHelp {
  background-color: #86df99;
  color: var(--color-white);
  border: none;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
}
#aiHelp:focus {
  outline: none;
}
#aiHelp:hover {
  background-color: #98e4a8;
}
#aiHelp:active {
  background-color: #6fda86;
}

/* footer */
#footer {
  float: left;
  width: 100%;
  /* background-color: var(--color-dark); */
  background-image: var(--gradient2);
  color: var(--color-white);
  text-align: center;
}

#jsSuccessPercentage {
  color: var(--color-main);
}
