/* resets */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}
.overflow {
  overflow: hidden;
}

/* variables */
:root {
  --color-main: rgb(31, 255, 180);
  --color-dark: #777;
  --color-light: #ddd;
  --color-white: #fff;
}

/* header */
#header {
  float: left;
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-white);
}

#header h1, #header p {
  text-align: center;
}

.clearFloat {
  overflow: hidden;
}

/* main */
main {
  float: left;
  width: 100%;
  padding: 1rem;
}

.square {
  float: left;
  position: relative;
}

/* barrier */
#barrier {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  /* display: none; */
}

/* cardTable */
#cardTable {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  gap: 0.2rem;
}

.card {
  text-align: center;
  padding: 0.4rem;
  background-color: #ddd;
  position: relative;
}
.card:hover {
  cursor: pointer;
}

.fliped {
  background-color: lightsalmon;
}

.found {
  background-color: lightgreen;
}


/* instructionsTable */
#instructionsTable {
  float: right;
  text-align: center;
}


/* footer */
#footer {
  float: left;
  width: 100%;
  background-color: var(--color-dark);
  color: var(--color-white);
  text-align: center;
}

#jsSuccessPercentage {
  color: var(--color-main);
}
